<h1>Welcome @ViewBag.user.Username </h1>
<a class="navbar-brand" asp-area="" asp-controller="Spa" asp-action="Index">SpaDay</a>
<div class="card-body">
    <p class="card">Email: @ViewBag.user.Email</p>
    <p class="card">Date Sign Up:  @ViewBag.user.SignDate</p>
</div>